/*Botoes*/
$color-btn-text: #c9d1d9;
$color-btn-background: #21262d;
$color-btn-border: rgba(240, 246, 251, 0.1);
$size-btn-border: 0.5px;
/**/
$color-header-link: #f0f6fc;
$color-text-default: #c9d1d9;
$color-bottom-active: #f78166;
