@import "../../styles/variables.scss";
.cardprofile {
  display: flex;
  flex-direction: column;
  color: rgb(177, 177, 177);
  gap: 20px;

  button {
    padding: 6px;
    border: solid $size-btn-border $color-btn-border;
    border-radius: 6px;
    outline: none;
    font-size: 1em;
    color: $color-btn-text;
    background: $color-btn-background;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      filter: brightness(1.2);
      border: solid 0.5px rgba(240, 246, 251, 0.6);
    }
  }
}
.profile {
  width: 280px;
  height: 280px;
}
.follow {
  display: flex;
  align-items: center;
  gap: 5px;
  span {
    font-size: 0.9em;
    color: rgb(143, 143, 143);
    cursor: pointer;

    &:hover {
      color: #58a6ff;
    }
  }
}
.name {
  span {
    color: rgb(161, 161, 161);
    font-size: 1.3em;
  }
}
.bio {
  color: rgb(207, 207, 207);
  max-width: fit-content;
}
.group {
  display: flex;
  align-items: center;
  gap: 5px;
}
